<section>
  <%= render :partial => 'movies/search' %>
</section>
<section>
  <h5>
    <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td> </br>
    <% end %>
    </tr>
  </h5>

</section>

